.all-articles{
    display: grid;
    justify-content: center;
    align-items: center;
}
.main{
display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    /* max-width: 60vw; */
}
.article-content {
    align-self: center;
    margin-top: -1rem;
    max-width: 15vw;
    

}
@media (max-width:990px) {

    .main{
        display: block;
    }
    .main-articale img{
        max-width: 80vw;
    }
    .article-content{
        font-size: 1rem;
        max-width: 200vw;
        gap: 2rem;
    }

}
